html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
  line-height: 1;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  /*-webkit-text-stroke: .1pt;*/
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  margin: 0;
  background-color: #172c3b;
}

/* font styling */

.whiteF {
  color: #fff;
}

.blackF {
  color: #000;
}

/* font styling */

.open {

}

.muli-normal {
  font-family: 'Muli', sans-serif!important;
  font-weight: 400!important;
}
.muli-light {
  font-family: 'Muli', sans-serif!important;
  font-weight: 300!important;
}
.openSans{
  font-family: "Open Sans", Arial, sans-serif!important;
  font-weight: 400px!important;
}
.montserrat{
  font-family: "Montserrat", Arial, sans-serif!important;
  font-weight: 700;
}

.white-c {
  color: #ffffff!important;
}

.black-c {
  color: #000000!important;
}

.red-c {
  color: #ff0030!important;
}

.grey1-c {
  color: #aaaaaa!important;
}

.grey2 {
  color: #595959!important;
}

.grey3-c {
  color: #767676!important;
}

.blue-c {
  color: #3690c8!important;
}

.dark-c {
  color: #323232!important;
}

.darkBlue-c {
  color: #375467!important;
}
.darkGrey-c {
  color: #717171!important;
}

.ubitBlue-c {
  color: #385e9d!important;
}

.ubitRed-c {
  color: #d9473a!important;
}

.ubitYellow-c {
  color: #eae040!important;
}

.ubitGreen-c {
  color: #6ab65b!important;
}

.ubitGrey-c {
  color: #504f44!important;
}

.s5 {
    font-size: 5px!important;
}

.s10 {
  font-size: 10px!important;
}

.s15 {
  font-size: 15px!important;
}

.s20 {
  font-size: 20px!important;
}

.s25 {
  font-size: 25px!important;
}

.s30 {
  font-size: 30px!important;
}

.s35 {
  font-size: 35px!important;
}

.s40 {
  font-size: 40px!important;
}

.s45 {
  font-size: 45px!important;
}

.s50 {
  font-size: 50px!important;
}

.s55 {
  font-size: 55px!important;
}

.s60 {
  font-size: 60px!important;
}

.s65 {
  font-size: 65px!important;
}

.s70 {
  font-size: 70px!important;
}

.s75 {
  font-size: 75px!important;
}

.s80 {
  font-size: 80px!important;
}

.s85 {
  font-size: 85px!important;
}

.s90 {
  font-size: 90px!important;
}

.s95 {
  font-size: 95px!important;
}

.s100 {
  font-size: 100px!important;
}

.s110 {
  font-size: 110px!important;
}

.s120 {
  font-size: 120px!important;
}

.s130 {
  font-size: 130px!important;
}

.s140 {
  font-size: 140px!important;
}

.s150 {
  font-size: 150px!important;
}

.s200 {
  font-size: 200px!important;
}

.ls-7 {
  letter-spacing: -7px;
}

.ls-6 {
  letter-spacing: -6px;
}

.ls-5 {
  letter-spacing: -5px;
}

.ls-4 {
  letter-spacing: -4px;
}

.ls-3 {
  letter-spacing: -3px;
}

.ls-2 {
  letter-spacing: -2px;
}

.ls-1 {
  letter-spacing: -1px;
}

.ls0 {
  letter-spacing: 0;
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

.ls4 {
  letter-spacing: 4px;
}

.ls5 {
  letter-spacing: 5px;
}

.lh1 {
  line-height: 1!important;
}

.lh1-5 {
  line-height: 1.5!important;
}

.lh2 {
  line-height: 2!important;
}

@media (max-width:765px) {
  .s40,.s45,.s50,.s55,.s60,.s65,.s70,
  .s75,.s80,.s85,.s90,.s95,.s100,
  .s110,.s120,.s130,.s140,.s150,.s200 {
    font-size: 35px!important;
    line-height: 1.5!important;
    letter-spacing: 1px!important;
  }
  .lh1,
  .lh1-5,
  .lh2 {
    line-height: 1.2!important;
  }

  .ls-7,.ls-6,.ls-5,.ls-4,.ls-3,.ls-2,.ls-1,
  .ls0,.ls1,.ls2,.ls3 .ls4,.ls5 {
    letter-spacing: 1px!important;
  }
}

.shadow,
.shadow *{
  text-shadow: 0 0 10px rgba(0, 0, 0, .7)!important;
}

.noTransform {
  text-decoration: none!important;
  text-transform: none!important;
}

.bg-ubitBlue {
  background-color: #385e9d!important;
}

.bg-ubitRed {
  background-color: #d9473a!important;
}

.bg-ubitYellow {
  background-color: #eae040!important;
}

.bg-ubitGreen {
  background-color: #6ab65b!important;
}

.bg-ubitGrey {
  background-color: #504f44!important;
}

.bg-ubitClearBlue {
  background-color: #84aac1!important;
}

.bg-ubitBlueIM {
  background-color: #172c3b!important;
}

.bg-ubitDark {
  background-color: #211d1d!important;
}

.bg-ubitDarkGrey {
  background-color: #3a4045!important;
}


.noPadding {
  padding: 0!important;
}
.noMargin {
  margin: 0!important;
}

.noBorder {
  border: none!important;
  border-top: 0!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: none!important;
}

.square {
  border-radius: 0!important;
}

.boxShadow {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.3);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.3);
}

.noShadow {
  -webkit-box-shadow: none!important;
  box-shadow: none!important
}

.hidden {
  display: none;
  visibility: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-image: url('../video/snapshots/working_space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.videoCoverColor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(23,44,59,0.6);
}

.stopfade {
  opacity: .5;
}


@media screen and (max-device-width: 800px) {
  html {
    /*background-image: url('http://unbound-it.com/video/Push-The-Buttons.jpg');*/
    background-color: rgb(23,44,59);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  #bgvid, .videoCoverColor {
    display: none;
  }
}

.bgTransparent {
  background: none!important;
  background-color: transparent!important;
}

header .fh5co-overlay {
  background-color: rgba(80,79,68,0.5)!important;
  position: fixed!important;
}
header .fh5co-overlay div {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.2) url("..img/resources/grid.png");
}

.fh5co-cover .fh5co-cover-text .btn-outline:hover,
.fh5co-cover .fh5co-cover-text .btn-outline:focus,
.fh5co-cover .fh5co-cover-text .btn-outline:active {
  background-color: #6ab65b!important;
  border: solid 2px #6ab65b!important;
}

@media screen and (max-width: 480px) {
  .fh5co-cover {
    min-height: auto;
  }
  .fh5co-cover .fh5co-cover-text .full-height{
    min-height: auto;
  }
  .fh5co-cover .fh5co-cover-text .full-height .fh5co-cover-intro {
    height: auto;
  }
}
