html {
  background-color: rgb(54, 54, 54);
}
body {
  margin: 0;
  background-color: rgb(54, 54, 54);
}
/*
.homepage-hero-module {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: none;
  border-left: none;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}

.video-container .poster img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.video-container .filter {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, .4);
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}*/

.hidden {
  display: none;
  visibility: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('http://unbound-it.com/video/Push-The-Buttons.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: .5;
}


@media screen and (max-device-width: 800px) {
  html {
    background: url('http://unbound-it.com/video/Push-The-Buttons.jpg') #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}

.bgTransparent {
  background: none!important;
  background-color: transparent!important;
}

header .fh5co-overlay {
  background-color: rgba(80,79,68,0.5)!important;
  position: fixed!important;
}
.fh5co-cover .fh5co-cover-text .btn-outline:hover,
.fh5co-cover .fh5co-cover-text .btn-outline:focus,
.fh5co-cover .fh5co-cover-text .btn-outline:active {
  background-color: #6ab65b!important;
  border: solid 2px #6ab65b!important;
}
